.stories {
  width: 100%;
  max-width: 312px;
}
.subject {
  text-align: start;
  margin-bottom: 32px;
  width: 100%;
}
.img-subject-chegada {
  width: 100%;
  height: 360px;
  background: url(../assets/img/chegada-img-blog.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.img-subject-acomodacao {
  width: 100%;
  height: 300px;
  background: url(../assets/img/bg-japao-card.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.small-text {
  font-size: 14px;
  line-height: 28px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .stories {
    max-width: 648px;
  }
  .subject.chegada {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .subject.chegada .content-subject {
    max-width: 312px;
  }
  .img-subject-acomodacao {
    height: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .stories {
    max-width: 1200px;
  }
  .subject.chegada .content-subject,
  .img-subject-chegada {
    max-width: 588px;
  }
}
