.list-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.list-categories a {
  text-decoration: none;
  color: var(--text-primary-color);
}
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  text-align: center;
  border-radius: 8px;
  padding: 32px 16px;
}

.category-card h3 {
  color: var(--text-primary-color);
  font-size: 28px;
  margin-top: auto;
}

.category-card img {
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .list-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  .categories .section-title {
    width: 366px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .category-card {
    width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .categories {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
  .category-card {
    width: 290px;
  }
}
