.destinations {
  width: 100%;
  max-width: 312px;
}
.articles {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.destination-article {
  margin-bottom: 40px;
}

.destination-img {
  width: 100%;
  height: 360px;
  background-size: cover;
  margin-bottom: 24px;
}

.tokyo {
  background-image: url(../assets/img/tokyo-mobile.jpg);
}

.osaka, .osaka-blog {
  background-image: url(../assets/img/osaka-mobile.jpg);
  background-position: center;
}

.destination-article .button {
  margin: 0;
  width: 100%;
}
/* Estilos para a página Blog */
.hiroshima {
  background-image: url(../assets/img/hiroshima.jpg);
  background-position: center;
}

.kyoto {
  background-image: url(../assets/img/kyoto.jpg);
  background-position: center;
}

@media screen and (min-width: 768px) {
  .destinations {
    max-width: 648px;
  }
  .destination-img {
    height: 452px;
    background-size: cover;
  }
  .tokyo {
    background-image: url(../assets/img/tokyo-tablet-desk.jpg);
  }
  .osaka {
    background-image: url(../assets/img/osaka-tablet-desk.jpg);
  }
  .destination-article .button {
    width: 280px;
  }
  /* Estilos para a página Blog */
  .destination-img.osaka-blog,
  .destination-img.hiroshima,
  .destination-img.kyoto  {
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    max-width: 1200px;
  }
  .articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .destination-img {
    max-width: 588px;
    height: 452px;
    background-size: cover;
  }
  /* Estilos para página Blog */
  .destination-img.osaka-blog,
  .destination-img.hiroshima,
  .destination-img.kyoto {
    width: 388px;
    height: 300px;
  }
}
