.main-footer {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 348px;
  padding: 32px 24px;
  text-align: center;
}
.main-footer .img-logo {
  width: 162px;
  height: 40px;
  margin-bottom: 16px;
}
.main-footer p {
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-font-weight);
  color: var(--text-secondary-color);
  width: 312px;
  margin: 0 auto 8px;
}

.social-media-container {
  margin-top: 24px;
}
.social-media-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}
.social-media-links li a img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .main-footer {
    height: 330px;
    padding: 32px 60px;
  }
  .main-footer .text-container p {
    font-size: 20px;
    line-height: 32px;
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .main-footer {
    height: 232px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 220px;
  }
  .main-content-container {
    text-align: start;
  }
}

@media screen and (min-width: 1920px) {
  .main-footer {
    gap: 600px;
  }
}
