.form-subtitle {
  width: 100%;
  max-width: 312px;
  margin: 0 auto 56px;
  font-size: 16px;
  font-weight: var(--text-font-weight);
  line-height: 28px;
  text-align: center;
}

form {
  width: 100%;
  max-width: 312px;
  margin: 0 auto;
}

.input-form {
  border: none;
  border-bottom: 3px solid #d9d9d9;
  width: 100%;
  font-size: 20px;
  margin-bottom: 64px;
  padding-bottom: 8px;
}

.input-form:focus {
  border-color: var(--secondary-color);
  outline: none;
}

textarea {
  border: 3px solid #d9d9d9;
  border-radius: 8px;
  width: 100%;
  height: 90px;
  padding: 10px;
}
textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.form.button {
  border: none;
  width: 100%;
  max-width: 312px;
}

@media screen and (min-width: 768px) {
  .form-subtitle {
    max-width: 648px;
    font-size: 20px;
    line-height: 32px;
  }
  form {
    max-width: 648px;
  }
  .input-form {
    display: inline-block;
  }
  .form.button {
    display: block;
    max-width: 280px;
    margin: 24px auto 0;
  }
}
@media screen and (min-width: 1440px) {
  .form-subtitle {
    max-width: 1200px;
  }
  form {
    max-width: 790px;
  }
  .input-form.telephone,
  .input-form.email {
    max-width: 382px;
  }
  .input-form.telephone {
    margin-right: 20px;
  }
  textarea {
    font-size: 18px;
  }
}
