/* pseudo classe de propriedades customizáveis */
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-font-weight: 700;
  --text-font-weight: 400;
  --menu-text-font-weight: 500;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 32px;
  font-weight: var(--title-font-weight);
  text-align: center;
}

.section-title hr {
  display: block;
  width: 180px;
  margin: 16px auto 32px;
  background-color: var(--secondary-color);
  padding: 2px 0;
  border: none;
}

/* Botão "Ver detalhes" */
.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  font-weight: var(--title-font-weight);
  border-radius: 8px;
  margin-top: 24px;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .button:hover{
    background-color: var(--primary-color);
  }
}
