header {
  background-color: var(--background-tertiary-color);
  padding: 38px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logoHome {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation-menu {
  margin-top: 24px;
}

input[id="menu"]:checked ~ nav{
  display: block;
}

nav {
  display: none;
}
