.img-hero {
  height: 400px;
  width: 100%;
  background: url(../assets/img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.hero h2 {
  width: 100%;
  padding: 0 24px;
  margin: 88px 0;
  font-size: 23px;
  font-weight: var(--text-font-weight);
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-hero {
    height: 620px;
    background: url(../assets/img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 0 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .img-hero {
    height: 620px;
    background: url(../assets/img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 0 160px;
    font-size: 32px;
  }
}
