.img-hero {
  height: 400px;
  width: 100%;
  background: url(../assets/img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .img-hero {
    height: 620px;
    background: url(../assets/img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
    .img-hero {
      height: 620px;
      background: url(../assets/img/hero-desktop.jpg) no-repeat;
      background-size: cover;
    }
  }
