.img-hero {
  width: 100%;
  height: 400px;
  background: url(../assets/img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.hero h2 {
  width: 100%;
  padding: 88px 24px;
  font-size: 23px;
  font-weight: var(--text-font-weight);
  line-height: 1.5;
  text-align: center;
}

/* Estilos para p치gina pacotes de viagens */
.travel-packages.img-hero {
  width: 100%;
  height: 460px;
  background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(19, 19, 19, 0.5)),
    url(../assets/img/travel-packages-hero.jpg);
  background-size: cover;
  background-position: -300px;
  padding: 65px 24px;
}
.hero-content {
  margin: 0;
}
.section-title.hero-content hr {
  margin: 16px 0 32px;
}
.section-title.hero-content h1,
.section-title.hero-content p {
  color: var(--text-secondary-color);
  width: 312px;
}
.section-title.hero-content h1 {
  font-size: 48px;
}
.section-title.hero-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-font-weight);
}

@media screen and (min-width: 768px) {
  .img-hero {
    height: 620px;
    background: url(../assets/img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
  /* Estilos para p치gina pacotes de viagens */
  .travel-packages.img-hero {
    height: 620px;
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(19, 19, 19, -0.5)),
      url(../assets/img/travel-packages-hero-tablet.jpg);
    background-size: cover;
    background-position: -175px;
    padding: 210px 69px 0 120px;
  }
  .section-title.hero-content h1,
  .section-title.hero-content p {
    width: 578px;
  }
  .section-title.hero-content p {
    font-size: 32px;
    line-height: 150%;
    font-weight: var(--text-font-weight);
  }
}
@media screen and (min-width: 1024px) {
  /* Estilos para p치gina pacotes de viagens */
  .travel-packages.img-hero {
    background-position: -74px;
  }
}
@media screen and (min-width: 1440px) {
  .img-hero {
    background: url(../assets/img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 104px 160px;
    font-size: 32px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  /* Estilos para p치gina pacotes de viagens */
  .travel-packages.img-hero {
    background: linear-gradient(rgba(21, 21, 21, -0.5), rgba(19, 19, 19, -0.5)),
      url(../assets/img/travel-packages-hero-desktop.jpg);
    background-size: cover;
    background-position: 0;
    padding: 158px 0 0 120px;
  }
}
