.payments {
  max-width: 312px;
}
.luggage {
  background-image: url(../assets/img/luggage.jpg);
  background-image: cover;
  grid-area: luggage;
}
.passport {
  background-image: url(../assets/img/passport.jpg);
  background-image: cover;
  grid-area: passport;
}
.people {
  background-image: url(../assets/img/people.jpg);
  background-image: cover;
  grid-area: people;
}
.image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 182px;
  grid-template-areas:
    "luggage passport"
    "people people";
  height: 460px;
  gap: 24px;
}

.image-content .people.colspan2{
  grid-column: span 2;
}

/* Estilos para página pacotes de viagens */
.content-title.payment span{
  font-size: 40px;
}
.content-title.payment p{
  margin-top: 24px;
}
.japanese-house {
  background-image: url(../assets/img/japanese-house.jpg);
  background-image: cover;
  grid-area: luggage;
}
.led-city {
  background-image: url(../assets/img/led-city.jpg);
  background-image: cover;
  grid-area: passport;
}
.umbrella {
  background-image: url(../assets/img/umbrella.jpg);
  background-image: cover;
  grid-area: people;
}

@media screen and (min-width: 768px) {
  .payments {
    max-width: 648px;
  }
  .luggage {
    background-image: url(../assets/img/luggage-tablet.jpg);
  }
  .passport {
    background-image: url(../assets/img/passport-tablet.jpg);
  }
  .people {
    background-image: url(../assets/img/people-tablet.jpg);
  }
  /* Estilos para página pacotes de viagens */
  .japanese-house {
    background-image: url(../assets/img/japanese-house-tablet.jpg);
  }
  .led-city {
    background-image: url(../assets/img/led-city-tablet.jpg);
  }
  .umbrella {
    background-image: url(../assets/img/umbrella-tablet.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .payments {
    max-width: 1200px;
  }
  .contents-container {
    display: grid;
    grid-template-columns: 384px 790px;
    gap: 24px;
  }
  .luggage {
    background-image: url(../assets/img/luggage-desktop.jpg);
  }
  .passport {
    background-image: url(../assets/img/passport-desktop.jpg);
  }
  .people {
    background-image: url(../assets/img/people-desktop.jpg);
  }
  /* Estilos para a pagina pacotes de viagens */
  .japanese-house {
    background-image: url(../assets/img/japanese-house-desktop.jpg);
  }
  .led-city {
    background-image: url(../assets/img/led-city-desktop.jpg);
  }
  .umbrella {
    background-image: url(../assets/img/umbrella-desktop.jpg);
  }
  .contents-container.travel-packages{
    align-items: center;
  }
}
