.pre-footer {
  margin: 0;
}
.img-pre-footer {
  width: 100%;
  height: 400px;
  background: url(../assets/img/pre-footer.jpg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .img-pre-footer {
    background: url(../assets/img/pre-footer-tablet.jpg) no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  .img-pre-footer {
    height: 600px;
    background: url(../assets/img/pre-footer-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
